* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

#nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 40px;
}

#nav h3 {
  background-color: #ff9843;
  padding: 8px 14px;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 5px;
}

#intro {
  height: 40%;
  width: 100%;
  background-color: #3468c0;
  padding: 50px 55px;
}

#intro h1 {
  font-size: 80px;
  letter-spacing: -2px;
  line-height: 80px;
  color: white;
}

#place {
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; /*align items is used to make it in center on y axis*/
  color: white;
}

#place h3,
#place h4 {
  font-size: 20px;
  font-weight: 600;
}

#hero-image {
  height: 80%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1542053254535-def95e944232?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#about {
  height: 50%;
  width: 100%;
  background-color: #dde1ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
}

#icons {
  color: black;
}

#about h2 {
  color: rgb(0, 0, 0);
  width: 65%;
  height: 100%;
  font-size: 80px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: -3px;
}

#about-part2 {
  width: 30%;
  height: 100%;
  padding: 10px 30px;
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-part2 h3 {
  font-size: 30px;
  font-weight: 600;
}

#icons i {
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  background-color: black;
  color: white;
  border-radius: 50px;
  margin: 1px;
}

#work {
  height: 45%;
  width: 100%;
  border-top: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#work1 {
  width: 30%;
  height: 90%;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-top: 5px;
  margin-top: 10px;
}

#work2 {
  height: 100%;
  width: 70%;
  padding: 0px 60px;
}

#work1 i {
  font-size: 30px;
}

.work2-part {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.work2-part:nth-child(1) {
  border-bottom: 2px solid black;
}

.work2-part .elem {
  width: 50%;
  height: 100%;
}

.work2-part .elem:nth-child(1) {
  width: 50%;
  height: 100%;
  border-right: 2px solid black;
  padding-right: 50px;
}

.work2-part .elem:nth-child(2) {
  width: 50%;
  height: 100%;
  padding-left: 70px;
}

.work2-part .elem h4 {
  font-size: 45px;
}

.work2-part .elem p {
  font-size: 20px;
}
